<div class="row">
  <div class="col-md-12">
    <p>To schedule an initial appointment with Thuy Pham, PsyD you may contact her directly at <strong>847-863-4975</strong> or via email at <a href="mailto:thuy@drthuypham.com">thuy@drthuypham.com</a>.</p>
  </div>
</div>

