<div class="row">
  <div class="col-md-12">
    <p>To schedule an initial appointment with Thuy Pham, PsyD you may contact her directly at <strong>847-863-4975</strong> or via email at <a href="mailto:thuy@drthuypham.com">thuy@drthuypham.com</a>.</p>
  </div>
</div>


<div class="row">

  <div class="col-md-6">
    <h3>Inverness Office</h3>
    <div>Phone: 847-776-4500</div>
    <div>Fax: 847-776-4724</div>
    <a href="https://www.google.com/maps/place/1644+Colonial+Pkwy,+Inverness,+IL+60067/@42.0847335,-88.0788569,17z"><address>
      1644 Colonial Parkway<br/> Inverness, IL 60067
    </address></a>  
  </div>

  <div class="col-md-6">
    <h3>Algonquin Office</h3>
    <div>Phone: 224-678-9033</div>
    <div>Fax:  224-678-9493</div>
    <a href="https://www.google.com/maps/place/215+N+Main+St,+Algonquin,+IL+60102/@42.168849,-88.289766,17z"><address>
      215 North Main Street<br/> Algonquin, IL 60102
    </address></a>
  </div>
</div>

