 <p>Fill out the forms and bring them to your first appointment.  Bringing these forms to your first appointment is very important as it will allow Dr. Pham to review your forms without having to allot extra time during the intake appt for you to complete them.  If you need any assistance with completing the forms, please contact the office staff at <a href="http://www.pbsdoctors.com">pbsdoctors.com</a> and/or you may bring the forms to your appointment for assistance.  The initial individual therapy appointment is a 60 minute session and subsequent therapy appointments are 45-60 minute sessions depending on the nature of the presenting problem. </p>


<div class="row">
<div class="col-md-6">
  

<ul class="list-unstyled button-list">
<li><a class="btn btn-info" target="_blank" href="http://www.pbsdoctors.com/upload/NEW%20CLIENT%20DEMOGRAPHIC%20.pdf"> PBS New Client Demographic <span class="glyphicon glyphicon-download-alt"></span></a></li>
<li><a class="btn btn-info" target="_blank" href="http://www.pbsdoctors.com/upload/PBS%20CONSENT%20FOR%20TREATMENT.pdf">PBS Consent for Treatment <span class="glyphicon glyphicon-download-alt"></span></a></li>
<li><a class="btn btn-info" target="_blank" href="http://www.pbsdoctors.com/upload/HIPAA%20PRIVACY%20NOTICE.pdf">HIPAA Privacy Notice <span class="glyphicon glyphicon-download-alt"></span></a></li>
</ul>
</div>
<div class="col-md-6">
<ul class="list-unstyled button-list">
<li><a class="btn btn-info" target="_blank" href="http://www.pbsdoctors.com/upload/Confidentiality%20And%20Cancellation%20Policy.pdf">Confidentiality &amp; Cancellation Policy <span class="glyphicon glyphicon-download-alt"></span></a></li>
<li><a class="btn btn-info" target="_blank" href="http://www.pbsdoctors.com/upload/PBS%20RELEASE%20OF%20INFORMATION%20FORM.pdf">Release of Information Form <span class="glyphicon glyphicon-download-alt"></span></a></li>
<li><a class="btn btn-info" target="_blank" href="/imgs/brochure_therapy_inverness.pdf">Brochure for Group Therapy <span class="glyphicon glyphicon-download-alt"></span></a></li>
</ul>


</div>
</div>