<div class="row">
<div class="col-md-8">

<p>Dr. Pham is a Licensed Clinical Psychologist (#071-006314).  She received her Doctor of Psychology degree (PsyD) from the Illinois School of Professional Psychology-Chicago in 2000 and has been practicing in settings including a residential facility, inpatient hospital, therapeutic day school, and group practices.  Dr. Pham was also Core Faculty and Associate Director of Training at the Adler School of Professional Psychology where she taught seminars for PsyD students and assisted them with practicum and internship placement.  Dr. Pham is currently a Clinical Supervisor at Alexian Brothers Behavioral Health Hospital in the Adolescent Partial Hospitalization Program where she provides group therapy, family therapy, and case management services.  She was previously a Senior Therapist in the School Anxiety/School Refusal Program at ABBHH.  She also works at Proactive Behavioral Services (www.pbsdoctors.com) where she provides individual and group therapy for clients ages 13 and up. </p>

<p>Dr. Pham brings a unique cultural perspective to her practice in that she was a refugee from Vietnam who came to the United States in 1975.  She speaks conversational Vietnamese and is fluent in English as she was educated in the U.S.  Due to the hardships her family faced as refugees, Dr. Pham provides therapy that is based on compassion and empathy and identifies within each clients strengths that can be used to meet therapeutic goals.  In addition Dr. Pham understands the barriers that prevent client’s from meeting their full potential and will help clients to develop skills to be resilient during times of stress.</p>
</div>
<div class="col-md-4">
  <h3 style="margin-top:0">Contact Information</h3>

  <p>To schedule an initial appointment with Thuy Pham, PsyD you may contact her directly at <strong>847-863-4975</strong> or via email at <a href="mailto:thuy@drthuypham.com">thuy@drthuypham.com</a>.</p>

  <h3>Locations</h3>

  <div>
    <address>
      1644 Colonial Parkway<br/> Inverness, IL 60067
    </address>  
  </div>

  <div>
    <address>
      215 North Main Street<br/> Algonquin, IL 60102
    </address>
  </div>
</div>
</div>