<ul>
  <li>Individual Therapy for Mood Disorders (Ages 13 and up)</li>
  <li>Group Therapy Types (1 hour each): <ul>
    <li>Process Group (Adults and Adolescents)</li>
    <li>Cognitive-Behavioral Treatment of Anxious Adolescents by Kendall et al. (Ages 14-17)</li>
  </ul>
</ul>
