ul.services > li {
  padding-bottom: 20px;
}

ul.button-list > li {
  padding-bottom: 20px;
}

footer {
  padding: 20px 0 20px 0;
  text-align: center;
}

.page-header {
  margin-bottom: 0;
  border-bottom: 0px;
}